head{
    background-color: rgb(33, 31, 31);
}
body{
    background-color: rgb(33, 31, 31);
}
#carouselExampleIndicators{
    margin: auto;
    width :20%;
    text-align: center;
}
#secd{
    color: white;
}
#secc{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 0px;
    align-items: center;
    justify-items: center;


}
#nikeb{
    background-image:url(img/nike/logonike.png);
    background-position:center;
    background-attachment: fixed;
    text-align: center;
}
#adidasb{
    background-image:url(img/adidas/logoadidas.png);
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
#pumab{
    background-image:url(img/puma/logopuma.png);
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}
#f{
    width: 250px;
}
#titsec{
    color: white;
    text-align: center;
}
#lk{
    color: #000000;
    margin: 0px 16px 0px 0px;
    padding: 5px 0px;
    text-indent:800%;
}
#nv{
    background-color: white;
}
#qs{
    text-align: center;
    color: white;
}
#loremlk{
    text-align: center;
    color: white;
}
#flk{
    text-align:center;
    color: white;
}
