head{
    background-color: rgb(3, 10, 70);
}
body{
    background-color: rgb(3, 10, 70);
}
#carouselExampleIndicators{
    margin: auto;
    width :30%;
    text-align: center;
}
#secd{
    color: white;
    grid-gap: 50px 0px;
}
#secc{
    color: white;
}
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 0px;
    align-items: center;
    justify-items: center;


}
#nikeb{
    background-image:url(img/nike/logonike.png);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#adidasb{
    background-image:url(img/adidas/logoadidas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#pumab{
    background-image:url(img/puma/logopuma.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#f{
    width: 250px;
}
#titsec{
    color: white;
    text-align: center;
}
#nv{ 
    background-color: white;
}
#qs{/* quienes somos en la barra */
    text-align: center;
    color: white;
}
#loremlk{/* Texto lorem de apartado lionkicks */
    text-align: center;
    color: white;
}
#flk{/* footer lionkicks(contato) */
    text-align:center;
    color: white;
}
#nkv{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 50px 0px;
    align-items: center;
    justify-items: center;
}
#lcont{
    color: white;
    text-align: left;
    display: inline-block;
}
#contn{
    text-align: center  ;
}
#finpage{
    color: white;
}
#descrZ{
    color: white;
    text-align: center;
}
#contn2{
    color: white;
    text-align: center;
    text-decoration: underline;
}
